<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-8">
        <% @posts.each do |post| %>
        <!-- blogpost start -->
            <article class="blogpost">
              <div class="overlay-container">
                <%= post.get_feature_pic.html_safe%>
                <a class="overlay-link" href="blog-post.html"><i class="fa fa-link"></i></a>
              </div>
              <header>
                <h2><%= link_to post.title,[post]%></h2>
                <div class="post-info">
										<span class="post-date">
											<i class="icon-calendar"></i>
											<span class="day">08</span>
											<span class="month">May 2015</span>
										</span>
                  <span class="submitted"><i class="icon-user-1"></i> <%= post.get_views %></span>
                  <span class="comments"><i class="icon-chat"></i> <a href="#"><%= post.get_comments%></a></span>
                </div>
              </header>
              <div class="blogpost-content">
                <p> <%= post.get_preview.html_safe %></p>
              </div>
              <footer class="clearfix">
                <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a></div>
              </footer>
            </article>
        <!-- blogpost end -->
        <% end %>

        <!-- pagination start -->
        <nav>
          <ul class="pagination">
            <li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </nav>
        <!-- pagination end -->

      </div>
      <!-- main end -->

      <%= render 'sidebar' %>

    </div>
  </div>
</section>