<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-8">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"><%= @post.title %></h1>
        <!-- page-title end -->

        <!-- blogpost start -->
        <!-- ================ -->
        <article class="blogpost full">
          <header>
            <div class="post-info">
										<span class="post-date">
											<i class="fa fa-calendar"></i>
											<span class="day"><%= @post.created_at.strftime("%d %b %Y") %></span>
										</span>
              <span class="submitted"><i class="fa fa-eye"></i> <%= @post.get_views %></span>
              <span class="comments"><i class="fa fa-comment"></i><%= @post.get_comments%></span>
            </div>
          </header>
          <div class="blogpost-content">
            <p><%= @post.content.html_safe %></p>
          </div>
          <footer class="clearfix">
            <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
            <div class="link pull-right">
              <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
                <li class="twitter"><a id="likelink" href="javascript:void(0)" onclick="faclick()"><i id = "like" class="fa fa-heart-o"></i></a></li>
              </ul>
              <span id="likenum"><%= @post.get_like %></span>
            </div>
          </footer>
        </article>
        <!-- blogpost end -->

        <!-- comments start -->
        <!-- ================ -->
        <div id="comments" class="comments">
          <h2 class="title">评论</h2>
          <% @post.comments.each do |c| %>
          <!-- comment start -->
          <div class="comment clearfix">
            <!--<div class="comment-avatar">-->
              <!--<img class="img-circle" src="images/avatar.jpg" alt="avatar">-->
            <!--</div>-->
            <header>
              <h3><%= c.commenter %></h3>
              <div class="comment-meta"></div>
            </header>
            <div class="comment-content">
              <div class="comment-body clearfix">
                <%= c.body %>
              </div>
            </div>
          </div>
          <!-- comment end -->
          <% end %>
        </div>
        <!-- comments end -->

        <!-- comments form start -->
        <!-- ================ -->
        <%= simple_form_for([@post, @post.comments.build]) do |f| %>
        <div class="comments-form">
          <h2 class="title">添加评论</h2>
            <div class="form-group has-feedback">
              <%= f.text_field :commenter, class: "form-control" %>
            </div>
            <div class="form-group has-feedback">
              <%= f.text_area :body, class: "form-control" %>
            </div>
          <button type="submit" class="btn btn-primary btn-block">提交</button>
          </form>

        </div>
          <% end %>
        <!-- comments form end -->
      </div>
      <!-- main end -->
<% content_for :scripts do %>
    <script type="text/javascript">
      function faclick() {
          $.ajax(
                  {
                      url: '<%= post_like_path(@post) %>',
                      type: "post",
//                      error: function () {
//                          alert("出错:-(");
//                      },
                      success: function (data) {
                          if(data.status) {
                              $("#like").removeClass("fa-heart-o")
                              $("#like").addClass("fa-heart");
                              var like = $("#likenum").html();
                              like = Number(like.replace(/[^0-9]/ig,"")) + 1;
                              $("#likenum").text(like+" likes");
                              $("#likelink").removeAttr("onclick");

                          }
                      }
                  }
          );
      }
    </script>
<% end %>

