<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-8">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"><%= @post.title %></h1>
        <!-- page-title end -->

        <!-- blogpost start -->
        <!-- ================ -->
        <article class="blogpost full">
          <header>
            <div class="post-info">
										<span class="post-date">
											<i class="icon-calendar"></i>
											<span class="day">12</span>
											<span class="month">May 2015</span>
										</span>
              <span class="submitted"><i class="icon-user-1"></i> <%= @post.get_views %> <a href="#"></a></span>
              <span class="comments"><i class="icon-chat"></i> <a href="#"><%= @post.get_comments%></a></span>
            </div>
          </header>
          <div class="blogpost-content">
            <p><%= @post.content.html_safe %></p>
          </div>
          <footer class="clearfix">
            <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
            <div class="link pull-right">
              <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </footer>
        </article>
        <!-- blogpost end -->

        <!-- comments start -->
        <!-- ================ -->
        <div id="comments" class="comments">
          <h2 class="title">评论</h2>
          <% @post.comments.each do |c| %>
          <!-- comment start -->
          <div class="comment clearfix">
            <div class="comment-avatar">
              <img class="img-circle" src="images/avatar.jpg" alt="avatar">
            </div>
            <header>
              <h3><%= c.commenter %></h3>
              <div class="comment-meta"></div>
            </header>
            <div class="comment-content">
              <div class="comment-body clearfix">
                <%= c.body %>
              </div>
            </div>
          </div>
          <!-- comment end -->
          <% end %>
        </div>
        <!-- comments end -->

        <!-- comments form start -->
        <!-- ================ -->
        <%= simple_form_for([@post, @post.comments.build]) do |f| %>
        <div class="comments-form">
          <h2 class="title">Add your comment</h2>
            <div class="form-group has-feedback">
              <%= f.text_field :commenter %>
            </div>
            <div class="form-group has-feedback">
              <%= f.text_area :body %>
            </div>
          <button type="submit" class="btn btn-primary btn-block">提交</button>
          </form>

        </div>
          <% end %>
        <!-- comments form end -->
      </div>
      <!-- main end -->
      <%= render 'sidebar' %>


    </div>
  </div>
</section>